[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame="2.5.2"
moderngl="5.10.0"
PyGLM="2.7.1"
numpy="2.0.0"
PyTMX="3.32"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
